<div class="modal bottom fade" id="privacy-policy" tabindex="-1" role="dialog" aria-labelledby="privacy-policy" style="z-index: 99999;">
    <svg data-dismiss="modal" style=" position: absolute; top: 8%; width: 30px; right: 15px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.87 14.87"><circle style="fill:#fff;" cx="7.43" cy="7.43" r="7.43"/><g><line style="fill:none;stroke:#565656;stroke-linecap:round;stroke-linejoin:round;stroke-width:.86px;" x1="10.02" y1="4.85" x2="4.85" y2="10.02"/><line style="fill:none;stroke:#565656;stroke-linecap:round;stroke-linejoin:round;stroke-width:.86px;" x1="4.85" y1="4.85" x2="10.02" y2="10.02"/></g></svg>
    <div class="modal-dialog dv_modal_top_hr" role="document" style="border-radius: 25px 25px 0 0; overflow: hidden;">
      <div class="modal-content dv_viewmobile_filter_content">
        <div class="modal-body overflow-auto" style="padding: 0 0 80px 0 !important;">
          <div class="dv_sub_cat_banners pt-0">
            <ik-image path="assets/img/privacy-policy.jpg" class="w-100"></ik-image>
          </div>
          <div class="container">
            <ul class="mt-4 coupontermsconditions">
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
  
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
  
              <li>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
              
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
  
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
  
              <li> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            </ul>
          </div>
        </div>
        <div class="modal-footer modal-footer-fixed view_continue_above_modal">
          <a data-dismiss="modal" href="javascript:void(0);" class="dv_fullwidth_btn active">Okay got it </a>
        </div>
      </div>
    </div>
  </div>